<div class="container">
  <div style="margin-top: 6%">
    <div class="col-md-6 userReg">
      <div class="card">
        <header class="card-header">
          <h4 class="card-title mt-2">Sign up</h4>
          <div *ngIf="emailOrMobilePresent" class="alert alert-danger">
              <strong>Email Id or Mobile No already exsist</strong>
          </div>
        </header>
        <article class="card-body">
          <form>
            <div class="form-row">
              <div class="col form-group" [formGroup]="userRegForm">
                <label><span style="color: red">*</span>First name </label>
                <input name="firstName" type="text" class="form-control" placeholder="First Name" [(ngModel)]="userReg.firstName" formControlName="firstName" required>
                <div *ngIf="(firstName.invalid && (firstName.dirty || firstName.touched))">
                    <div *ngIf="firstName.errors.required" style="color: red">Please enter First Name</div>
                </div>
              </div>
              
              <div class="col form-group" [formGroup]="userRegForm">
                <label><span style="color: red">*</span>Last name</label>
                <input name="lastName" type="text" class="form-control" placeholder="Last Name" [(ngModel)]="userReg.lastName" formControlName="lastName" required>
                <div *ngIf="(lastName.invalid && (lastName.dirty || lastName.touched))">
                    <div *ngIf="lastName.errors.required" style="color: red">Please enter Last Name</div>
                </div>
              </div>
              
            </div>
            
            <div class="form-group" [formGroup]="userRegForm">
              <label><span style="color: red">*</span>Email address</label>
              <input name="email" type="email" class="form-control" placeholder="Email Address" [(ngModel)]="userReg.emailId" formControlName="email" required>
              <small class="form-text text-muted">We'll never share your email with anyone else.</small>
              <div *ngIf="(email.invalid && (email.dirty || email.touched))">
                  <div *ngIf="email.errors.required" style="color: red">Please enter Email id</div>
                  <div *ngIf="email.errors.pattern" style="color: red">Enter valid email id</div>
              </div>
            </div>
            <div class="form-group" [formGroup]="userRegForm">
                <label><span style="color: red">*</span>Mobile Number</label>
                <input name="mobileNo" type="text" class="form-control" placeholder="Mobile Number" [(ngModel)]="userReg.mobileNo" formControlName="mobileNo" required>
                <div *ngIf="(mobileNo.invalid && (mobileNo.dirty || mobileNo.touched))">
                    <div *ngIf="mobileNo.errors.required" style="color: red">Please enter Mobile Number</div>
                    <div *ngIf="mobileNo.errors.pattern" style="color: red">Enter valid Mobile No. It should contain 10 digits only.</div>
                </div>
            </div>
            
            <div class="form-group">
              <label class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="male" value="M" [(ngModel)]="userReg.gender" >
                <span class="form-check-label"> Male </span>
              </label>
              <label class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="female" value="F" [(ngModel)]="userReg.gender">
                <span class="form-check-label"> Female</span>
              </label>
            </div>
            
            <div class="form-row">
              <div class="form-group col-md-6" [formGroup]="userRegForm">
                <label><span style="color: red">*</span>City</label>
                <input name="city" type="text" class="form-control" [(ngModel)]="userReg.city" formControlName="city" placeholder="City" required>
                <div *ngIf="(city.invalid && (city.dirty || city.touched))">
                    <div *ngIf="city.errors.required" style="color: red">Please enter City</div>
                </div>
              </div>
              
              <div class="form-group col-md-6" [formGroup]="userRegForm">
                <label><span style="color: red">*</span>Country</label>
                <select name="country" id="inputState" class="form-control" [(ngModel)]="userReg.country" formControlName="country">
                  <option> Choose...</option>
                  <option>Uzbekistan</option>
                  <option>Russia</option>
                  <option>United States</option>
                  <option selected="userReg.country=='India'">India</option>
                  <option>Afganistan</option>
                </select>
                <div *ngIf="(country.invalid && (country.dirty || country.touched))">
                    <div *ngIf="country.errors.required" style="color: red">Please enter City</div>
                </div>
              </div>
              
            </div>
            
            <div class="form-group" [formGroup]="userRegForm">
              <label><span style="color: red">*</span>Create password</label>
              <input name="password" class="form-control" type="password" [(ngModel)]="userReg.password" formControlName="password" placeholder="Password" required>
              <div *ngIf="(password.invalid && (password.dirty || password.touched))">
                  <div *ngIf="password.errors.required" style="color: red">Please enter Password</div>
                  <div *ngIf="password.errors.pattern" style="color: red">Password should contain Minimum eight characters, at least one letter, one number and one special character</div>
              </div>
            </div>
            
            <div class="form-group">
              <button type="submit" class="btn btn-primary btn-block" [disabled]="!userRegForm.valid" (click)="registerUser()"> Register </button>
            </div>
            
            <small class="text-muted">By clicking the 'Sign Up' button, you confirm that you accept our
              <br> Terms of use and Privacy Policy.</small>
          </form>
        </article>
        <div class="border-top card-body text-center">Have an account? <a href="/user/login">Log In</a></div>
      </div>
    </div>
  </div>
</div>