<div class="container">
  <div class="userlogin">
    <div class="main-div">
      <div class="panel">
        <h2>User Login</h2>
        <p>Please enter your email and password</p>
      </div>
      <form id="login">
        <div class="form-group">
            <input name="email" type="email" class="form-control" [(ngModel)]="user.emailId" id="inputEmail" placeholder="Email Address">
        </div>
        <div class="form-group">
            <input name="password" type="password" class="form-control" [(ngModel)]="user.password" id="password" placeholder="Password">
        </div>
        <button type="submit" class="btn btn-primary">Login</button>
        <div class="regUser">
          New User? <a href="/registration">Click here</a>
        </div>
      </form>
    </div>
  </div>
</div>