.userlogin {
    text-align: center;
}

.main-div {
    background: #ffffff none repeat scroll 0 0;
    border-radius: 2px;
    margin: 10px auto 30px;
    max-width: 50%;
    padding: 56px 76px 76px 77px;
    margin-top: 6%;
}

.btn {
    width: 100%;
}

.regUser{
    margin-top: 20px;
}